@layer tailwind {
  @tailwind base;
}
@import "@mantine/core/styles.css";
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #33bfbf;
  --secondary: #b0bac9;
  --enzy-dark: #1a2a39;
  --enzy-blue: #0f5aae;
  --enzy-light-blue: #f5faff;
  --enzy-green: #33bfbf;
  --enzy-light-green: #e8f7f7;
  --enzy-dark-green: #018091;
  --enzy-yellow: #ffc700;
  --enzy-light-yellow: #ffdf00;
  --enzy-success: #12b981;
  --light: #f1f5f9;
  --dark-base: #121628;
  --dark-box: #202e3e;
  --dark-foreground: #ffffffcc;
  --dark-foreground-focus: #33bfbf;
  --tw-bg-opacity: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Custom CSS */
.btn-primary {
  background-color: #33bfbf !important;
  border-color: #33bfbf !important;
  color: white !important;
}

.btn-primary:hover {
  background-color: #018091 !important;
  border-color: #018091 !important;
  color: white !important;
}

.sidebar {
  overflow-y: auto;
  overflow-x: hidden;
}

@layer base {
}
@layer components {
  .form-input {
    @apply rounded-lg border-[1.5px] bg-transparent py-3 px-5 transition active:border-primary disabled:bg-gray-100  dark:bg-form-input dark:focus:border-primary dark:border-form-strokedark;
  }
}
.highlight {
  background-color: yellow;
}



.bottom-arrow {
  border: 1px ;
  border-radius: 3px;
  margin-top: -10px;
  margin-left: 15px;
  position: relative;
}
.bottom-arrow:after {
  content: "";
  display: block;
  position: absolute;
  
  width: 10px;
  height: 10px;
  top: 10px;
  left: -5px;
  background: inherit;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.toggle-container {
  position: relative;
  width: 70px;
  height: 32px;
  background-color: #c4c4c4;
  cursor: pointer;
  user-select: none;
  border-radius: 20px;
  padding: 2px;
}
.toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 38px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  color: #fff;
  background-color: #5eead4;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.25);
  padding: 8px 12px;
  border-radius: 20px;
  position: absolute;
  transition: all 0.2s ease;
  left: 34px;
}

.disable {
  background-color: #FF6666;
  left: 2px;
}

.t1{
  
  font-family: Verdana, sans-serif;
  font-size: larger;
}

